#fly {
  display: block;
  position: absolute;
  bottom: 50px;
  right: 50px;
  margin: 0px auto;
  height: 40px;
  width: 40px;
  font: bold;
  padding: 10px;
  border: none;
  border-radius: 100%;
  font-size: 14px;
  text-align: center;
  color: red;
  background: #ffffff;
}
#back {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0px auto;
  height: 30px;
  width: 30px;
  font: bold;
  padding: 10px;
  border: none;
  border-radius: 100%;
  font-size: 14px;
  text-align: center;
  color: red;
  background: #ffffff;
}
#sidebar {
  display: block;
  position: absolute;
  top: 80px;
  left: 10px;
  margin: 0px auto;
  height: 30px;
  width: 30px;
  font: bold;
  padding: 10px;
  border: none;
  border-radius: 100%;
  font-size: 14px;
  text-align: center;
  color: red;
  background: #ffffff;
}
#back i {

  font-weight: bolder;
  transform: translateX(-2px);
  transform: translateY(2px);
}